<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open %>
  </div>

  <div class="field">
    <%= form.label :close %>
    <%= form.text_field :close %>
  </div>

  <div class="field">
    <%= form.label :logo_pic %>
    <%= form.text_field :logo_pic %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.text_field :station %>
  </div>

  <div class="field">
    <%= form.label :ktai_coupon %>
    <%= form.check_box :ktai_coupon %>
  </div>

  <div class="field">
    <%= form.label :photo_url %>
    <%= form.text_field :photo_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
