<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Open</th>
      <th>Close</th>
      <th>Logo pic</th>
      <th>Station</th>
      <th>Ktai coupon</th>
      <th>Photo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.open %></td>
        <td><%= store.close %></td>
        <td><%= store.logo_pic %></td>
        <td><%= store.station %></td>
        <td><%= store.ktai_coupon %></td>
        <td><%= store.photo_url %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>
