<ul class="details-list">
  <% @details.each do |detail| %>
    <div class="detail-item">
      <div class="detail-name"><%= detail["name"] %></div>
      <div class="detail-address"><%= detail["address"] %></div>
      <div class="detail-access"><%= detail["access"] %></div>
      <div class="detail-open"><%= detail["open"] %></div>
      <div class="detail-close"><%= detail["close"] %></div>
      <div class="detail-budget"><%= detail["budget"]["name"] %></div>
      <div class="detail-badget-memo"><%= detail["badget-memo"] %></div>
      <div class="detail-urls"><%= detail["urls"]["pc"] %></div>
      <div class="detail-photo">
        <%= image_tag detail["photo"]["pc"]["m"], alt: detail["name"] %>
      </div>
    </div>
  <% end %>
</ul>

<%= link_to :back do %>
  <button>戻る</button>
<% end %>